.navbar-custom {
    background-color: #D64933;
    border-bottom: solid 1px #EEB3AA;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    margin-left: 50px;
    font-weight: 500;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #EEB3AA;
}

.image {
    background-image: url(./assets/woman.jpeg);
    height: 900px;
    width: 100%;
    background-position: center center;
    background-size: cover;

}

.btn-custom {
    color: white;
    background-color: #D64933;
    border-style: solid;
    border-width: 1px;
}

.headline-container {
    text-align: center;
    padding-top: 100px;
    line-height: 100px;
    color: white;
}

.nupp1 {
    background-color: #D64933;
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Manrope', sans-serif;

}

.nupp1:hover {
    color: white;
    background-color: #EEB3AA;
}

.headline1 {
    font-size: 64px;
    font-family: 'Manrope', sans-serif;

}

.headline2 {
    font-family: 'Manrope', sans-serif;
}

.headline3 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 80px;
    text-shadow: 2px 2px #0b0b0b;
}

.as-seen-in {
    text-align: center;
    margin-top: 250px;
    justify-content: center;
    color: white;
    font-family: 'Manrope', sans-serif;

}

.company-logo {
    flex-wrap: wrap;
    background-color: #D64933;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
}

.section2-row {
    justify-content: center;
    align-items: center;
    text-align: center;
}