html {
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    padding: 15px;
    background-color: #53687E;
}

main {
    background-color: #53687E;
    display: flex;
}

header img {
    height: 50px
}

header h1 {
    color: white;
}

header a {
    color: white;
}

aside {
    background-color: #53687E;
    width: 20%;
    border-left: 1px solid white;
}

section {
    min-height: 300px;
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #53687E;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav>ul>li>a {
    color: black;
    margin-left: 5px;
}

.pildiga-blokk {
    display: flex;
}

.pildiga-blokk img {
    width: 45%;
}

.tekst {
    padding-left: 10px;
    padding-right: 10px;
}

.reklaam {
    width: 80%;
    max-height: fit-content;
}

main aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    background-color: #53687E;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    justify-content: space-between;
    padding: 100px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

footer ul li {
    display: flex;
    padding: 5px;

}

footer div h2 {
    font-family: 'Limelight', cursive;
    color: white;
    border-bottom: 1px solid darkgray;
}

ul p {
    border-bottom: 1px solid darkgray;
    color: white;
}

.Third {
    text-align: center;
}

footer ul li a {
    color: black;
    text-decoration: none;
}