.kast1 {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.konteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
}

body {
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}